
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #292929;
  text-align: center;
}
h1 {
  color: white;
  margin-top: 150px;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: tahoma;
}
.form {
  background-color: blue;
  width: 400px;
  height: 450px;
  position: absolute;
  margin-left: 350px;
}
.user {
  margin: 30px;
  margin-top: 80px;
}
.login {
  background-color: rgb(236, 236, 255);
  width: 400px;
  height: 450px;
  position: absolute;
  margin-left: 750px;
}
.userinfo {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  background: transparent;
  border-color: white;
  color: white;
  text-align: center;
  font-size: 16;
  cursor: pointer;
  font-family: 'Rajdhani';
  transition: all 0.3s;
}
.userinfo:hover,
.userinfo:active
{
    font-size: 17px;
    
}
::placeholder {
  color: white;
}
.terms {
  color: white;
  font-size: 12px;
  font-family: 'Rajdhani';
}
.checkbro {
  margin-top: 30px;
  margin-right: 10px;
}
.sign-in {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500;
  background-color: rgba(133, 127, 127, 0.534);
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}
.sign-in:hover,
.sign-in:active
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.list
{
    margin-top: 100px;
    width: 100%;
    height: 30px;
}
.list a
{
display: block;
width: 100%;
margin: 5px 0;
color: rgb(255, 255, 255);
font-size: 15px;
font-family: 'Roboto Condensed';
text-decoration: none;
padding: 17px 0;
background-color: rgba(128, 0, 60, 0.751);
transition: all 0.3s;
}

.list a i 
{
    margin-right: 10px;
    
}
.loginbro
{
    position: relative;
    margin-top: 510px;
    color: white;
}
.loginbro a
{
    text-decoration: none;
    color: rgb(177, 173, 173);
    font-weight: bold;
    font-size: large;
}




@media (max-width:1220px){
  .form{
    margin-left: 222px;
  }
  .login{
    margin-left: 625px;
  }
}

@media (max-width:1055px){
  .form{
    margin-left: 80px;
  }
  .login{
    margin-left: 480px;
  }
}
@media (max-width:890px){
  .form{
   margin-left: 150px;
   position: relative;
   width: 580px;
  }
  .login{
    margin-top: 20px;
    margin-left: 150px;
    width: 580px;
  }
  .user{
    padding-top: 50px;
  }
}
@media (max-width:730px){
  .form{
   margin-left: 65px;
  }
  .login{
    margin-left: 65px;
  }
}
@media (max-width:640px){
  .form{
   margin-left: 0px;
   width: 100%;
   height: 580px;

  }
  .user{
    padding-top: 125px;
  }
  .login{
    margin-left: 0px;
    margin-top: 60px;
    width: 100%;
    height: 580px;

  }
  .list{
    margin-top: 200px;
  }
  .loginbro{
    color: black;
  }
}
